body { 
    width: 100vw;
    height: 200vh;

}

#header {
    height: 25vh;
    margin-bottom: 5px;
}



#logo {
    height: 80%;
    width: 80%;
    display: flex;
    border: 10px solid orange;



}

#quereparamos{

    height: 30vh;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 2%, rgba(45,154,253,1) 100%);
    align-items: center;
    justify-content: center;
    align-content: center;
}


#lista¨{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;

}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 150px;
}

#ubicacion{
    height: 5vh;
}

.card-body{
    padding:15px;
    text-align: center;
}

.card-body a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid;
    color: blue;
    border-radius: 4px blue;
    transition: all 400ms ease;

}

.card-body a:hover{
    background-color: blue;
    color:#fff;
}

#main{

    height: 85vh;
}

#footer{
    height:20vh;
}

#footer1 {
    font-weight:bold;
}

.instagram{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid;
    color: orange;
    border-radius: 5px orange;
    transition: all 400ms ease;
}
.instagram:hover{
    background-color:orange ;
    color:#fff;
}

.facebook{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid;
    color: orange;
    border-radius: 5px orange;
    transition: all 400ms ease;
}
.facebook:hover{
    background-color:orange ;
    color:#fff;
}

.mail{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid;
    color: orange;
    border-radius: 5px orange;
    transition: all 400ms ease;
}

.mail:hover{
    background-color: orange ;
    color:#fff;

}

.iconos{
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

#consultanos {

    display: flex;
    width: 100%;
    height: 80vh;
    background-color: aqua;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

}


.titulos {
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: rgb(243, 165, 50);
    text-align: center;
    margin-bottom: 10px;

}


#ubicacionTexto {
    font-size: x-small;
    font-family: fantasy;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    align-content: center;
    animation-name: animacion1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;

}

@keyframes animacion1 {
    0% {
        font-size: large;
    }

    45% {

        font-size: x-large
    }

    100% {
        font-size: xx-large;
    }
}

#carr1{
    margin-left: 30%;
}
#carr2{
    margin-left: 30%;
}
#carr3{
    margin-left: 30%;
}
#carr4{
    margin-left: 10%;
}
#carr5{
    margin-left: 30%;
}
#botonatras{
    background-color: black;
}
#botonadelante{
    background-color: black;
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
body{
height: 350vh;
}


    #header{
    height:30vh;
    margin-bottom: 100px;
    
}
#main{

    height: 180vh;
}
#footer{
    height:60vh;
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
flex-wrap: wrap;
}
.parrafos2 {
    display: flex;
    font-size: 1cm;
    font-family: 'Ubuntu', sans-serif;
    background-color: coral;
    text-align: center;
    width: auto;
    text-justify: auto;
}
#fotolocal {
    width: 100%;
    height: 50%;
    margin-top: 5px;
}

.mapa{
    width: 450px;
    height: 450px;
}
#logo {
    height: 200px;
    width: 100%;
    display: flex;
    border: 10px solid orange;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: baseline;
}

#carr1{
    margin-left: 20%;
}
#carr2{
    margin-left: 10%;
}
#carr3{
    margin-left: 10%;
}
#carr4{
    margin-left: 10%;
}
#carr5{
    margin-left: 20%;
}





}

/* // `md` applies to small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */

.parrafos2 {
    
    font-size: 1cm;
    font-family: 'Ubuntu', sans-serif;
    background-color: coral;
    text-align: center;
    width: auto;
}

#fotolocal {
    width: 100%;
    height: 80%;
    margin-top: 5px;
}

#Quereparamoslista {

    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-areas: "lis1 imagencentral lis2";

}

#lis1 {
    grid-area: lis1;
}


.Quereparamos {
    display: flex;
    list-style: none;
    background-color: orange;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
#lis2 {
    grid-area: lis2;
}

